html, body {
	width: 100px;
}

.hidden {
	display: none;
}

.button {
	margin: 3% auto;
	padding: 4px;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}

#help {
	background-color: #FF9800;
}

#share {
	background-color: #00ACEE;
}

#author {
	background-color: #86DC3D;
}

a {
	color: inherit;
	text-decoration: inherit;
}
